<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% if languages|length > 1 %}
        {% for route in routes %}
            {% if route.entity is null %}
                {% for lang in languages %}
                    <url>
                        <loc>{{ absolute_url(path(route.name, {_locale: lang})) }}</loc>
                        {% if route.change_frequency is not null %}
                            <changefreq>{{ route.change_frequency }}</changefreq>
                        {% endif %}
                        {% if route.priority is not null %}
                            <priority>{{ route.priority }}</priority>
                        {% endif %}
                    </url>
                {% endfor %}
            {% else %}
                {% for item in route.items %}
                    {% for lang in languages %}
                        <url>
                            {% set parameters = {_locale: lang} %}
                            {% for param in route.parameters %}
                                {% if param.child_field is null %}
                                    {% set parameters = parameters|merge({(param.url_field): attribute(item, param.entity_field)}) %}
                                {% else %}
                                    {% set entity = attribute(item, param.entity_field) %}
                                    {% if param.child_position is not null %}
                                        {% set parameters = parameters|merge({(param.url_field): attribute(entity[param.child_position], param.child_field)}) %}
                                    {% else %}
                                        {% set parameters = parameters|merge({(param.url_field): attribute(entity, param.child_field)}) %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <loc>{{ absolute_url(path(route.name, parameters))}}</loc>
                            {% if route.lastmod_field is not null %}
                                <lastmod>{{ attribute(item, route.lastmod_field)|date('Y-m-d\\TH:i:sP') }}</lastmod>
                            {% endif %}
                            {% if route.change_frequency is not null %}
                                <changefreq>{{ route.change_frequency }}</changefreq>
                            {% endif %}
                            {% if route.priority is not null %}
                                <priority>{{ route.priority }}</priority>
                            {% endif %}
                        </url>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for route in routes %}
            {% if route.entity is null %}
                <url>
                    <loc>{{ absolute_url(path(route.name)) }}</loc>
                    {% if route.change_frequency is not null %}
                        <changefreq>{{ route.change_frequency }}</changefreq>
                    {% endif %}
                    {% if route.priority is not null %}
                        <priority>{{ route.priority }}</priority>
                    {% endif %}
                </url>
            {% else %}
                {% for item in route.items %}
                    <url>
                        {% set parameters = [] %}
                        {% for param in route.parameters %}
                            {% set parameters = parameters|merge({(param.url_field): attribute(item, param.entity_field)}) %}
                        {% endfor %}
                        <loc>{{ absolute_url(path(route.name, parameters))}}</loc>
                        {% if route.lastmod_field is not null %}
                            <lastmod>{{ attribute(item, route.lastmod_field)|date('Y-m-d\\TH:i:sP') }}</lastmod>
                        {% endif %}
                        {% if route.change_frequency is not null %}
                            <changefreq>{{ route.change_frequency }}</changefreq>
                        {% endif %}
                        {% if route.priority is not null %}
                            <priority>{{ route.priority }}</priority>
                        {% endif %}
                    </url>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</urlset>
